# file location must be :- /etc/systemd/system/celerybeat.service

[Unit]
Description=Celery Service
After=network.target

[Service]
Type=simple
User=lucky
Group=lucky
EnvironmentFile=/etc/default/celeryd
WorkingDirectory=/home/lucky/PycharmProjects/demo
ExecStart=/bin/sh -c '${CELERY_BIN} beat  \
  -A ${CELERY_APP} --pidfile=${CELERYBEAT_PID_FILE} \
  --logfile=${CELERYBEAT_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL}'

[Install]
WantedBy=multi-user.target
